<h3>Testing Typescript with Asp.Net Core 2.1</h3>
<hr />

<h5>Welcome!</h5>

<input type="button" value="Click me" onclick="OnButtonClick()" class="btn btn-outline-primary btn-sm" />

<div id="divMsg"></div>